@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family:'Nunito',Arial,sans-serif;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-direction: column;
  background-color:#21234a;
}

#canvas_bar,#canvas_box, #canvas_hist,#canvas_scatter {
  width: 358px;
  height: 520px;
  background-color:papayawhip;
  margin-top: 5vh;
}

#canvas_hist {
  height: 500px;
}

#tooltip {
  position: absolute;
  padding: 5px;
  font-size: 11px;
  border: 2px solid #21234a;
  color: #21234a;
  text-align: left;
  background-color:#fff7eb;
  border-radius: 5px;
  visibility: hidden;
}

#selectButton {
  margin-top: 5vh; 
  border-radius: 5px;
  height: 24px;
  font-size: 12px;
  text-align: center;
  color: #21234a;
  background-color: #f9f9f9;
  border: 2px solid #21234a;
}

.wordcloud {
  margin-top: 15vh;
  height:350px;
  width:350px;
  border: 30px solid #fff7eb;
}

.cloud-wrap { 
  display: flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-direction: column;
}

@media screen and (min-width:768px) and (min-aspect-ratio: 1.2) {

 #canvas_bar,#canvas_hist,#canvas_box,#canvas_scatter {
   height: 560px;
   width: 610px;
 }

 #canvas_hist,#canvas_box,#canvas_scatter {
   height: 500px;
 }
  
 #selectButton {
  height: 32px;
  font-size: 16px;
  }
  
.wordcloud {
  margin-top: 5vh;
  height:550px;
  width:550px;
  border: 50px solid #fff7eb;
}
}

@media screen and (min-width:768px) and (max-aspect-ratio: 1.2) {

 #canvas_bar,#canvas_hist,#canvas_box,#canvas_scatter {
   height: 640px;
   width: 650px;
 }
 
 #canvas_hist,#canvas_box,#canvas_scatter {
   height: 620px;
 }
  
 #selectButton {
  height: 32px;
  font-size: 16px;
 }

.wordcloud {
  height:550px;
  width:550px;
  border: 50px solid #fff7eb;
}
}

@media screen and (min-width:1050px){
  #canvas_bar,#canvas_hist,#canvas_box,#canvas_scatter{
    height: 640px;
    width: 800px;
  }
  
   #canvas_hist,#canvas_box,#canvas_scatter{
     height: 600px;
   }

   #selectButton{
    margin-top: 3vh;
    height: 36px;
    font-size: 20px;
    }
  
  .wordcloud {
  height:680px;
  width:680px;
  border: 70px solid #fff7eb;
}
}

@media screen and (min-width:1300px){
  #canvas_bar,#canvas_hist,#canvas_box,#canvas_scatter{
    height: 750px;
    width: 1000px;
  }

   #canvas_hist,#canvas_box,#canvas_scatter{
     height: 700px;
   }
  
   #selectButton {
    height: 40px;
    font-size: 24px;
    }
  .wordcloud {
    height:720px;
    width:720px;
    border: 90px solid #fff7eb;
  }
}