@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family:'Nunito',Arial,sans-serif;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-direction: column;
  background-color:#21234a;
}

#canvas_bar,#canvas_box, #canvas_hist,#canvas_pic,#canvas_scatter {
  width: 350px;
  height: 520px;
  background-color:papayawhip;
  margin-top: 5vh;
}

#canvas_hist {
  height: 500px;
}

#tooltip {
  position: absolute;
  padding: 5px;
  font-size: 11px;
  width: min(40vw,180px);
  border: 2px solid #21234a;
  color: #21234a;
  text-align: left;
  background-color:#fff7eb;
  border-radius: 5px;
  visibility: hidden;
}

.circles {
  opacity:0.85;
  }

#selectButton {
  margin-top: 5vh; 
  border-radius: 5px;
  height: 24px;
  font-size: 12px;
  text-align: center;
  color: #21234a;
  background-color: #f9f9f9;
  border: 2px solid #21234a;
}

.wordcloud {
  margin-top:110px;
  height:300px;
  width:300px;
}

.cloud-wrap { 
  display: flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-direction: column;
}

@media screen and (min-width:768px) and (min-aspect-ratio: 1.2) {

 #canvas_bar,#canvas_hist {
   height: 540px;
   width: 580px;
 }
  
}

@media screen and (min-width:768px) and (max-aspect-ratio: 1.2) {

 #canvas_bar,#canvas_hist {
   height: 620px;
   width: 650px;
 }
}

@media screen and (min-width:1050px){
  #canvas_bar,#canvas_hist{
    height: 640px;
    width: 800px;
  }
}

@media screen and (min-width:1300px){
  #canvas_bar,#canvas_hist{
    height: 750px;
    width: 1000px;
  }
}