.navbar {
  width: 100vw;
  height: 50px;
  background: #f3f3f3;
  text-decoration: none;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.navbar a {
  color: #2d4580;
  font-family: Arial;
  font-weight: 700;
  text-decoration: none;
  margin-top: 20px ;
  padding-left:6px;
  font-size: 9px;
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 60px;
  }
  .navbar a {
    margin-top: 25px;
    padding-left: 15px;
    font-size: 15px;
  }
}