@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.navbar {
  width: 100vw;
  height: 8vh;
  background: #f3f3f3;
  text-decoration: none;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.navbar a {
  color: #2d4580;
  font-family: Poppins,sans-serif;
  text-decoration: none;
  margin-top: 2.5vh ;
  padding-left: 2.5vw;
  font-size: 10.5px;
  font-weight:600;
  letter-spacing:0.08rem;
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 60px;
  }
  .navbar a {
    margin-top: 20px;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing:0.1rem;
  }
}

@media screen and (min-width:1050px){
  .navbar {
    height:80px;
  }
  .navbar a {
    padding-left:20px;
  }
}